watcher-app/test_dir
watcher-app/test_dir/**
watcher-app/test_data
watcher-app/test_data/**
directories/test_dir
directories/**
working-copy-view/thumbnails
working-copy-view/thumbnails/**
.idea
.idea/**
.idea/*.xml
.venv
.venv/**
app.log