<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>WorkingCopy – przeglądarka plików</title>

    <!-- Bulma CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">

    <!-- Twój własny styl -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
</head>
<body>
<!-- Navbar -->
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            WorkingCopy Menedżer
        </a>
    </div>
</nav>

<!-- Główna sekcja -->
<section class="section">
    <div class="container">

        <h2 class="title is-4">Pliki</h2>

        <!-- Formularz filtrowania -->
        <form class="field is-grouped is-grouped-multiline mb-4" method="GET" action="{{ url_for('index') }}">
            <div class="control">
                <input class="input" type="text" name="name" id="filterName" placeholder="Nazwa..."
                       value="{{ filter_name }}">
            </div>
            <div class="control">
              <select id="filterExt" name="ext" multiple>
                {% for ext in extensions_list %}
                <option value="{{ ext }}" {% if ext in filter_ext %}selected{% endif %}>{{ ext }}</option>
                {% endfor %}
                {% if has_no_ext %}
                <option value="no_ext" {% if 'no_ext' in filter_ext %}selected{% endif %}>Pliki bez rozszerzenia</option>
                {% endif %}
              </select>
            </div>
            <div class="control">
                <button type="submit" class="button is-primary">Filtruj</button>
            </div>
            <div class="control">
                <button type="button" class="button is-light" id="darkModeToggle">Ciemny motyw</button>
            </div>
        </form>

        <div class="mb-4">
            <p><strong>Liczba wszystkich plików:</strong> {{ total_files }}</p>
            <p><strong>Łączny rozmiar:</strong> {{ total_size|format_bytes }}</p>
            <p><strong>Łączny plików na stronie:</strong> {{ per_page }}</p>
            <p><strong>Strona :</strong> {{ page }} z {{ total_pages }}</p>
        </div>

        <!-- Akcje dla zaznaczonych -->
        <div class="buttons mb-4" id="fileActions">
            <button class="button is-danger is-outlined" onclick="moveSelected('bin')">Przenieś do bin</button>
            <button class="button is-success is-outlined" onclick="moveSelected('AllMedia')">Przenieś do AllMedia
            </button>
            <span id="counter"></span>
        </div>

        <!-- Tabela plików -->
        <table class="table is-striped is-hoverable is-fullwidth" id="filesTable">
            <thead>
            <tr>
                <th><label class="checkbox"><input type="checkbox" id="selectAll"></label></th>
                <th>Nazwa</th>
                <th>Podgląd</th>
                <th>Rozmiar</th>
                <th>Data</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody id="filesBody">
            {% for f in files %}
            <tr>
                <td><label class="checkbox"><input type="checkbox" name="file" value="{{ f.name }}"></label></td>
                <td>{{ f.name }}</td>
                <td>
                    {% if f.type == 'image' %}
                      <img src="{{ url_for('thumbnail', size='150x150', filename=f.name) }}"
                           class="preview" style="cursor:pointer"
                           onclick="showImageModal('{{ url_for('thumbnail', size='800x600', filename=f.name) }}')">
                    {% elif f.type == 'video' %}
                    <video src="{{ url_for('serve_file', filename=f.name) }}" class="preview" controls></video>
                     {% elif f.type == 'pdf' %}
                        <div style="width: 150px; height: 200px; cursor: pointer;" onclick="showPdfModal('{{ url_for('serve_file', filename=f.name) }}')">
                          <!-- Możesz zamiast object dać ikonę PDF -->
                          <object data="{{ url_for('serve_file', filename=f.name) }}" type="application/pdf" style="width: 100%; height: 100%; pointer-events: none;">
                            <p>Twoja przeglądarka nie obsługuje PDF.</p>
                          </object>
                        </div>
                    {% elif f.type == 'text' %}
                    <!-- Wyświetlamy pierwsze 100 znaków tekstu jako podgląd -->
                    <pre class="preview"
                         style="max-width:150px; max-height:150px; overflow: hidden; white-space: pre-wrap; cursor:pointer;"
                         onclick="showTextModal('{{ url_for('serve_file', filename=f.name) }}')">
                      {{ get_file_preview(f.name) }}
                    </pre>
                                    {% else %}
                                    <!-- Ikona lub pusty podgląd -->
                                    <span class="icon is-large has-text-grey-lighter" title="Brak podglądu">
                      <i class="fas fa-file fa-2x"></i>
                    </span>
                    {% endif %}
                </td>

                <td>{{ (f.size // 1024) }} KB</td>
                <td>{{ f.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>
                    <button class="button is-danger is-small" onclick="moveSelectedSingle('{{ f.name }}', 'bin')">Do
                        bin
                    </button>
                    <button class="button is-success is-small" onclick="moveSelectedSingle('{{ f.name }}', 'AllMedia')">
                        Do AllMedia
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- Paginacja -->
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
          {% if page > 1 %}
            <a class="pagination-previous" href="{{ url_for('index', page=page-1, name=filter_name, ext=filter_ext) }}">Poprzednia</a>
          {% else %}
            <a class="pagination-previous" disabled>Poprzednia</a>
          {% endif %}

          {% if page < total_pages %}
            <a class="pagination-next" href="{{ url_for('index', page=page+1, name=filter_name, ext=filter_ext) }}">Następna</a>
          {% else %}
            <a class="pagination-next" disabled>Następna</a>
          {% endif %}

          <ul class="pagination-list">
            {% for p in range(1, total_pages + 1) %}
              <li>
                <a class="pagination-link {% if p == page %}is-current{% endif %}"
                   href="{{ url_for('index', page=p, name=filter_name, ext=filter_ext) }}">
                  {{ p }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>

    </div>
</section>

<!-- Modal powiększonego obrazka -->
<div id="imageModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content" style="display:flex; justify-content:center; align-items:center;">
        <img id="modalImage" alt="Powiększony podgląd"
             style="max-width:50vw; max-height:50vh; border-radius: 5px; box-shadow: 0 0 10px #fff; cursor:pointer;">
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div id="pdfModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content" style="width: 80vw; height: 80vh;">
    <object id="pdfObject" type="application/pdf" width="100%" height="100%"></object>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<div id="textModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content" style="max-width: 600px; background: white; padding: 1em; border-radius: 5px; overflow-y: auto; max-height: 70vh;">
    <pre id="textContent" style="white-space: pre-wrap;"></pre>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>


<!-- Toast container (prosty, własny styl) -->
<div id="toastContainer" style="position: fixed; bottom: 1rem; right: 1rem; z-index: 1080;"></div>
<!-- Twój własny skrypt JS -->
<script src="{{ url_for('static', filename='script.js') }}"></script>
<!-- Bulma JS jest "CSS-only" więc nie ma potrzeby dołączać dodatkowego skryptu Bulma -->
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
</body>
</html>
